.choice-container{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-top: 3px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.choice-abcd{
    background-color: rgb(30, 46, 26);
    color: white;
    margin: 1px;
}
.choice-container:hover{
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
    
}
p{
    text-align: left;
}

.choice-answer{
    margin: 0;
    width: 100%;
}

.correct{
    background-color: rgb(27, 190, 27);
}

.incorrect{
    background-color: rgb(218, 10, 10);
}

/*score*/

.score{
    padding: 10px;
}
.score-item{
    background-color: rgb(46, 75, 57);
    color: white;
    height: 80px;
    width: 110px;
    margin: 10px;
}

.scoreCounter{
    color: white;
    padding: 0;
    font-size: 25px;
    margin-left: 20px;
}

.score-item p{
    padding-bottom: 1px;
}