*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(194, 196, 193);
    
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

h1{
    font-size: 35px;
    margin:10px;
    padding: 10px;
    color: rgb(51, 97, 39);
}

p{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}

.btn{
    font-size: 25px;
    margin-top: 90px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 46, 26);
    padding: 15px;
    border-radius: 5px;
    transition: background-color .3s ease-in;
    flex-direction: column;
}

.btn:hover{
    background-color: rgb(63, 121, 48);
}

/*end game*/

.finalScore{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.congrats{
    font-size: 35px;
    color:rgb(51, 97, 39);
    font-weight: bold;
}